<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Model.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMessengerService">
                    <security>
                        <transport sslProtocols="None"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8734/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessengerService"
                contract="ServiceReference.IMessengerService" name="NetTcpBinding_IMessengerService">
                <identity>
                    <userPrincipalName value="DESKTOP-PCSQO6M\hp-kyrylchenko"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
	<entityFramework>
		<defaultConnectionFactory type="System.Model.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Model.SqlClient" type="System.Model.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="MessengerContext"
			connectionString="data source=DESKTOP-PCSQO6M\KYRYLCHENKO;initial catalog=Messenger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
			providerName="System.Model.SqlClient"/>
	</connectionStrings>
</configuration>